{% load static %}

<!DOCTYPE html>

<html>
	<head>
		<title></title>

		<link href="https://fonts.googleapis.com/css?family=Fira+Sans" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="{% static '/life/vendor/bootstrap/css/bootstrap.css' %}" />
		<link rel="stylesheet" type="text/css" href="{% static '/life/css/main.css' %}" />

		<script src="{% static '/life/vendor/jquery/jquery-3.3.1.min.js' %}"></script>
		<script src="{% static '/life/vendor/jquery-ui/jquery-ui.min.js' %}"></script>
	</head>
	<body>
		<!-- Your layout here -->
    <div class="container">
      
      <!-- Header Row and Form -->
      <div class="row">
        <h2>
          Home Search
        </h2>
        <!-- Column -->
        <div class="col-12">
          <!-- Form -->
           <div class="form-group">
             <input type="text" class="form-control" placeholder="Enter home address.." id="addressInput">
          </div>
          <!-- Form -->
        </div>
        <!-- Column -->
      </div>
      <!-- Header Row and Form -->
      
      <!-- Home Buttons Row -->
      <div class = "row">
        <div class = "col-12">
          <button type="submit" class="btn btn-primary" id="homeButton">Search</button>
          <a href="../../life/home" class="btn btn-outline-dark" role="button" aria-pressed="true">Add Home</a>
        </div>
      </div>
      <!-- Home Button Row -->
      
      <br>
      
      <!-- Home Data -->
      <div class='row'>
        <div class='col-3' id="address">
          <h4>
            Address
          </h4>
        </div>
        <div class='col-3' id="price">
          <h4>
            Price
          </h4>
        </div>
        <div class='col-3' id='landlord'>
          <h4>
            Landlord
          </h4>
        </div>
        <div class='col-3' id='reviews'>
          <h4>
            Reviews
          </h4>
        </div>
      </div>
      <!-- Home Data -->
      
      <hr>
      
      <!-- User Search -->
      <!-- Header Row and Form -->
      <div class="row">
        <h2>
          User Search
        </h2>
        <!-- Column -->
        <div class="col-12">
          <!-- Form -->
           <div class="form-group">
             <input type="text" class="form-control" placeholder="Enter user's full name.." id="nameInput">
          </div>
          <!-- Form -->
        </div>
        <!-- Column -->
      </div>
      <!-- Header Row and Form -->
      
      <!-- User Button Row -->
      <div class = "row">
        <div class = "col-12">
          <button type="submit" class="btn btn-primary" id="userButton">Search</button>
          <a href="../../life/user" class="btn btn-outline-dark" role="button" aria-pressed="true">Add User</a>
        </div>
      </div>
      <!-- User Button Row -->
      
      <br>
      
      <!-- User Data -->
      <div class='row'>
        <div class='col-3' id="username">
          <h4>
            Username
          </h4>
        </div>
        <div class='col-3' id="name">
          <h4>
            Name
          </h4>
        </div>
        <div class='col-3' id='age'>
          <h4>
            Age
          </h4>
        </div>
        <div class='col-3' id='hometown'>
          <h4>
            Hometown
          </h4>
        </div>
      </div>
      <!-- User Data -->
      <!-- User Search -->
      
      <hr>
 
     
      <!-- Home Reviews -->
      <div class="row">
        <h2>
          Home Review Search
        </h2>
        <!-- Column -->
        <div class="col-12">
          <!-- Form -->
           <div class="form-group">
             <input type="text" class="form-control" placeholder="Enter home address.." id="addressHomeReviewInput">
          </div>
          <!-- Form -->
        </div>
        <!-- Column -->
      </div>
      <!-- Header Row and Form -->
      
      <!-- Home Review Buttons Row -->
      <div class = "row">
        <div class = "col-12">
          <button type="submit" class="btn btn-primary" id="homeReviewButton">Search</button>
          <a href="../../life/review" class="btn btn-outline-dark" role="button" aria-pressed="true">Add Review</a>
        </div>
      </div>
      
    <br>

      <!-- User Data -->
      <div class='row'>
        <div class='col-3' id="homeReviewed">
          <h4>
            Home
          </h4>
        </div>
        <div class='col-3' id="rating">
          <h4>
            Rating
          </h4>
        </div>
        <div class='col-3' id='review'>
          <h4>
            Review
          </h4>
        </div>
      </div>
      <!-- User Data -->
 
    <script>
      $(document).ready(function() {
        // Process Home Search
        $("#homeButton").click(function() {
          var address = $("#addressInput").val();
          $.ajax({
            url: '../../life/searchHomeQuery/',
            data: {
            'address': address
            },
            dataType: 'json',
            success: function(data) {
              if (data['success'] == 'false') {
                alert('Home does not exists in the database. Please try again.')
              }
              else {      
                $('#address').append("<p>" + data['address'] + "</p>");
                $('#price').append("<p>" + data['price'] + "</p>");
                $('#landlord').append("<p>" + data['landlord'] + "</p>");
              }
            }
          });
        });
        // Process User Search
        $("#userButton").click(function() {
          var name = $("#nameInput").val();
          $.ajax({
            url: '../../life/searchUserQuery/',
            data: {
            'name': name
            },
            dataType: 'json',
            success: function(data) {
              if (data['success'] == 'false') {
                alert('User does not exists in the database. Please try again.')
              }
              else {      
                $('#username').append("<p>" + data['username'] + "</p>");
                $('#name').append("<p>" + data['name'] + "</p>");
                $('#age').append("<p>" + data['age'] + "</p>");
                $('#hometown').append("<p>" + data['hometown'] + "</p>");
              }
            }
          });
        });
        // Procerss Home Review Search
        $("#homeReviewButton").click(function() {
          var homeReviewAddress = $("#addressHomeReviewInput").val();
          $.ajax({
            url: '../../life/searchHomeReviewQuery/',
            data: {
            'address': homeReviewAddress
            },
            dataType: 'json',
            success: function(data) {
              if (data['success'] == 'review_error') {
                alert('The home you are looking for does not have any reviews associated with it yet. Add a review for this home by clicking on the add review button.')
              }
              else if (data['success'] == 'home_error') {
                alert('The address you submitted does not correspond to a valid home in the database. Please try again.')
              }
              else {
                for (review in data) {
                  $('#homeReviewed').append("<p>" + data[review]['address'] + "</p>");
                  $('#rating').append("<p>" + data[review]['rating'] + "</p>");
                  $('#review').append("<p>" + data[review]['review'] + "</p>");
                }
              }
            }
          });
        });
      });
    </script>
	</body>
</html>